@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
  }

  @keyframes accordion-up {
    from {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
    to {
      height: 0;
    }
  }

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pp-mono: "PPRightGroteskMono", monospace;
  --animate-fade-in-down: fade-in-down 0.5s ease-out;
  --animate-slide-down: slide-down 200ms ease-out;
  --animate-slide-up: slide-up 200ms ease-out;
}

@font-face {
  font-family: "PPRightGroteskMono";
  src: url("/fonts/PPRightGroteskMono-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.205 0.015 285);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.205 0.015 285);
  --primary: oklch(0.279 0.041 260);
  --primary-foreground: oklch(0.975 0.005 285);
  --secondary: oklch(0.965 0.005 285);
  --secondary-foreground: oklch(0.279 0.041 260);
  --muted: oklch(0.965 0.005 285);
  --muted-foreground: oklch(0.556 0.01 260);
  --accent: oklch(0.965 0.005 285);
  --accent-foreground: oklch(0.279 0.041 260);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.975 0.005 285);
  --border: oklch(0.922 0.005 285);
  --input: oklch(0.922 0.005 285);
  --ring: oklch(0.205 0.015 285);
  --chart-1: oklch(0.646 0.222 41);
  --chart-2: oklch(0.6 0.118 185);
  --chart-3: oklch(0.398 0.07 227);
  --chart-4: oklch(0.828 0.189 84);
  --chart-5: oklch(0.769 0.188 70);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.37 0.01 260);
  --sidebar-primary: oklch(0.205 0.015 260);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.965 0.005 260);
  --sidebar-accent-foreground: oklch(0.205 0.015 260);
  --sidebar-border: oklch(0.922 0.01 260);
  --sidebar-ring: oklch(0.548 0.22 260);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0.015 285);
  --card-foreground: oklch(0.975 0.005 285);
  --popover: oklch(0.205 0.015 285);
  --popover-foreground: oklch(0.975 0.005 285);
  --primary: oklch(0.975 0.005 285);
  --primary-foreground: oklch(0.279 0.041 260);
  --secondary: oklch(0.305 0.03 260);
  --secondary-foreground: oklch(0.975 0.005 285);
  --muted: oklch(0.305 0.03 260);
  --muted-foreground: oklch(0.7 0.02 260);
  --accent: oklch(0.305 0.03 260);
  --accent-foreground: oklch(0.975 0.005 285);
  --destructive: oklch(0.45 0.2 27);
  --destructive-foreground: oklch(0.975 0.005 285);
  --border: oklch(0.305 0.03 260);
  --input: oklch(0.305 0.03 260);
  --ring: oklch(0.8 0.03 260);
  --chart-1: oklch(0.488 0.243 264);
  --chart-2: oklch(0.696 0.17 162);
  --chart-3: oklch(0.769 0.188 70);
  --chart-4: oklch(0.627 0.265 304);
  --chart-5: oklch(0.645 0.246 16);
  --sidebar: oklch(0.205 0.015 260);
  --sidebar-foreground: oklch(0.965 0.005 260);
  --sidebar-primary: oklch(0.548 0.22 260);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.27 0.01 260);
  --sidebar-accent-foreground: oklch(0.965 0.005 260);
  --sidebar-border: oklch(0.27 0.01 260);
  --sidebar-ring: oklch(0.548 0.22 260);
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}

/* shadcn custom variants */
@custom-variant data-open {
  &:where([data-state="open"]),
  &:where([data-open]:not([data-open="false"])) {
    @slot;
  }
}

@custom-variant data-closed {
  &:where([data-state="closed"]),
  &:where([data-closed]:not([data-closed="false"])) {
    @slot;
  }
}

@custom-variant data-checked {
  &:where([data-state="checked"]),
  &:where([data-checked]:not([data-checked="false"])) {
    @slot;
  }
}

@custom-variant data-unchecked {
  &:where([data-state="unchecked"]),
  &:where([data-unchecked]:not([data-unchecked="false"])) {
    @slot;
  }
}

@custom-variant data-selected {
  &:where([data-selected="true"]) {
    @slot;
  }
}

@custom-variant data-disabled {
  &:where([data-disabled="true"]),
  &:where([data-disabled]:not([data-disabled="false"])) {
    @slot;
  }
}

@custom-variant data-active {
  &:where([data-state="active"]),
  &:where([data-active]:not([data-active="false"])) {
    @slot;
  }
}

@custom-variant data-horizontal {
  &:where([data-orientation="horizontal"]) {
    @slot;
  }
}

@custom-variant data-vertical {
  &:where([data-orientation="vertical"]) {
    @slot;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
